h1,
h2 {
  font-family: $header-font;
  color: $color-2;
}

h1 {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 0.4em;

  @include MQ(S) {
    font-size: 3.2rem;
  }

  @include MQ(M) {
    font-size: 4rem;
  }
}

h2 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0;

  @include MQ(S) {
    font-size: 1.8rem;
    margin: 1em 0 1.4em;
  }
}

h3
{
  font-family: $header-font;
  color: $color-2;
}

h1 {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 0.4em;

  @include MQ(S) {
    font-size: 3.2rem;
  }

  @include MQ(M) {
    font-size: 4rem;
  }
}

.link_header {
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 1.5%;
  text-decoration: underline;
}


//KB 2/8: Navigation fonts changed to News Cycle ($others-font)
.page_links {
  margin-bottom: 1.1%;
  font-style: $others-font;
}

.last_page_link {
  margin-bottom: 0;
  font-style: $others-font;
}

.page_links:hover, .last_page_link:hover {
  font-size: 1.1em;
  text-decoration: underline;
}

section > h2::before {
  /* number before each section title */
  color: darken($color-4, 15%);
}

p {
  font-size: 1.4rem;
  line-height: 1.4;
  color: lighten($color-2, 25%);

  a {
    color: $color-1;
    text-decoration: underline;
  }

  @include MQ(S) {
    font-size: 1.6rem;
    line-height: 1.6;
  }
}

/* -------------------------------- 

xButtons 

-------------------------------- */

.btn {
  border: none;
  box-shadow: none;
  border-radius: 0.25em;
  font: {
    size: 1.4rem;
    family: $others-font;
  }
  color: $color-5;
  padding: 0.6em 2.2em;
  cursor: pointer;
  background: $color-1;

  &:focus {
    outline: none;
  }

  .no-touch &:hover {
    background: lighten($color-1, 5%);
  }

  &.btn-success {
    background: $success;

    .no-touch &:hover {
      background: lighten($success, 5%);
    }
  }

  &.btn-alert {
    background: $alert;

    .no-touch &:hover {
      background: lighten($alert, 5%);
    }
  }

  &.btn-outline {
    color: $color-1;
    background: transparent;
    box-shadow: inset 0 0 0 1px $color-1;

    .no-touch &:hover {
      color: $color-5;
      background: $color-1;
    }
  }

  @include MQ(S) {
    font-size: 1.6rem;
  }
}

.cd-buttons .cd-box:nth-of-type(2) span {
  /* CSS class name color */
  color: $color-1;
}