// color palette - these colors will be the color swatches of the Colors section
$color-1: #330242; // Russian Violet
$color-2: #9694B5; // Blue Bell
$color-3: #EDFFFD; // Azure
$color-4: #128F9D; // Viridian Green
$color-5: #0B3B5E; // Indigo Dye

// additional colors
$success: #15CD72; // green
$alert: #ED4F32; // red

// fonts
$primary-font: 'Josefin Sans', sans-serif;
$header-font: 'Josefin Sans', sans-serif;
$others-font: 'News Cycle', sans-serif;