// color palette - these colors will be the color swatches of the Colors section
$color-1: #330242; // Russian Violet
$color-2: #128F9D; // Viridian Green 
$color-3: #0B3B5E; // Indigo Dye
$color-4: #9694B5; // Blue Bell
$color-5: #EDFFFD; // Azure

// additional colors
$success: #15CD72; // green
$alert: #ED4F32; // red

// fonts
$primary-font: 'Josefin Sans', sans-serif;
$header-font: 'Old Standard TT', serif;
$others-font: 'News Cycle', sans-serif;